header{
    font-size: medium;
    background-color: #b588e7;
    margin: auto;
    padding: 25px;
}
footer{
    background-color: #b588e7;
    margin: auto;
    padding: 20px;
}
#sidebar{
    background-color: #e3b957; 
    width: 150px;
    height: 236px;
}
#widged{
    background-color: #eb867c;
    float: left;
    width: 300px;
    
}
#statistics{
    background-color: #91b7e8;
    
    
}
#main{
    background-color: #a7dc8a;
    
}
#container{ 
    margin: 0 auto;
    border: 3px solid black;
    text-align: center;
    height: 400px;
    width: 600px;

    
}
@media only screen and (max-width: 600px) {

    header {
        height: 30px;
        text-align: center;
        border-style: solid;
      
    }
    footer{
        height: 30px;
        text-align: center;
        border-style: solid;
    }
     #sidebar{
         height: 50px;
         width: auto;
         text-align: center;
         border-style: solid

     }
     #widged{
         width: 100%;
         height: 50px;
         text-align: center;
         border-style: solid

     }
     #main{
         height: 50px;
         text-align: center;
         border-style: solid
     }
     #statistics{
         height: 50px;
         text-align: center;
         border-style: solid
     }
    
  }

  